.student-login{
    margin-top: 80px;
    padding-top: 50px;
    min-height: 100vh;
    background-color:  #F8F9FD ;
}
.student-login .register-top .heading , .student-login .register-top .hasaccount{
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    text-align: center;
    letter-spacing: -0.015em;
}
@media (min-width:640px)
{
    .student-login .register-top .heading , .student-login .register-top .hasaccount{
      font-size: 24px;
  }
}
@media (min-width:768px)
{
    .student-login .register-top .heading , .student-login .register-top .hasaccount{
      font-size: 26px;
  }
}
/* meduim */ 
@media (min-width:1024px)
{
    .student-login .register-top .heading , .student-login .register-top .hasaccount{
    font-size: 30px;
  }
}
.student-login .register-top .hasaccount .link{
    color: #18A0FB;
}
 .student-login .register-as{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 16px;
}
.student-login .register-as .notActive, .register-as .active{
    width: 160px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1.5%;
    color: #000000;
}
.student-login .register-as .notActive{
    background-color: #FFFFFF;
}
.student-login .register-as .active{
    color:#FFFFFF;
    background-color: #18A0FB;
}
@media (min-width:640px)
{
    .student-login .register-as .notActive, .register-as .active{
        width: 160px;
        height: 50px;
        font-size: 22px;
  }
}
@media (min-width:768px)
{
    .student-login .register-as .notActive, .register-as .active{
        width: 160px;
        height: 50px;
        font-size: 22px;
  }
}
/* meduim */ 
@media (min-width:1024px)
{
    .student-login .register-as .notActive, .register-as .active{
    width: 200px;
    height: 65px;
    font-size: 28px;
  }
}
.student-login .register-process-wrapper{
    max-width: 940px;
    margin: 80px auto 0;
}
.student-login .register-through{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
.student-login .register-through .register-way-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 170px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 8px;
}
.student-login .register-through .image-way{
    width: 28px;
    height: 28px;
}
.student-login .register-through .name-way{
    color: #989090;
    font-size: 16px;
    font-weight: 500;
}
.student-login .register-through .or{
    font-weight: bold;
    color: #000000;
    font-size: 24px;
}
@media (min-width:640px)
{
    .student-login .register-through .register-way-box{
        width: 200px;
        height: 58px;
    }
    .student-login .register-through .image-way{
        width: 32px;
        height: 32px;
    }
    .student-login .register-through .name-way{
        font-size: 18px;
    }
    .student-login .register-through .or{
        font-size: 26px;
    }
}
@media (min-width:768px)
{
    .student-login .register-through .register-way-box{
        width: 210px;
        height: 60px;
    }
    .student-login .register-through .image-way{
        width: 35px;
        height: 35px;
    }
    .student-login .register-through .name-way{
        font-size: 20px;
    }
    .student-login .register-through .or{
        font-size: 30px;
    }
}
/* meduim */ 
@media (min-width:1024px)
{
    .student-login .register-through .register-way-box{
        width: 245px;
        height: 70px;
    }
    .student-login .register-through .image-way{
        width: 40px;
        height: 40px;
    }
    .student-login .register-through .name-way{
        font-size: 22px;
    }
    .student-login .register-through .or{
        font-size: 35px;
    }
}


.student-login .register-form{
    margin-top: 50px;
    padding-bottom: 80px;
}
.student-login .register-form .form-input-wrapper{
    margin: 16px 0;
}
.student-login .register-form .form-input-wrapper .input-title{
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 12px;
}
@media (min-width:768px)
{
    .student-login .register-form .form-input-wrapper .input-title{
        font-size: 24px;
  }
}
/* meduim */ 
@media (min-width:1024px)
{
    .student-login .register-form .form-input-wrapper .input-title{
        font-size: 28px;
  }
}


.student-login .register-form .form-input-wrapper .input{
    display: block;
    width: 600px;
    height: 50px;
    max-width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 4px 12px;
    letter-spacing: -0.015em;
    color: #989090;
    font-size: 18px;
}
.student-login .register-form .form-input-wrapper .input:focus{
    border: 1px solid #18A0FB;
}

.student-login .register-btn{
    background-color: #18A0FB;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 50px;
    max-width: 100%;
    border-radius: 18px;
    font-size: 28px;
    font: bold;
    margin: 40px auto 10px;
}

.student-login .forgot-password-link{
    color: #18A0FB;
    font-size: 20px;
    font-weight: bold;
}